p {
    color: inherit;
}

.css-container-product a:link {
    text-align: center;
    color: black;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 16px;
}
.css-container-product a:hover {
    text-decoration-line: none;
    color: rgb(0,123,255);
}

#welcome {
    padding: 1em 0;
    text-align: center;
    text-transform: capitalize;
}

#pagination a:link {
    border: 1px solid black;
}

#pagination a:hover {
    background: rgb(200,200,200) !important;
}

#pagination a:visited {

}

#pagination a:active {

}